<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Recommendation</title>
    <link rel="preload" as="image" href="/static/pencil_yellow.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="page">
    <aside class="form-container">
      <form class="user_form" action="/" method="POST">
        <h3>Welcome!</h3>

        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <div id="g_id_onload"
          data-client_id="{{ CLIENT_ID }}"
          data-callback="handleCredentialResponse">
        </div>

        <div class="g_id_signin"></div>

        <div class="divider">
          <span>OR</span>
        </div>

        <input type="text" name="username" placeholder="Your name">
        <input type="email" name="email" placeholder="Your email">

        <button type="submit">Continue with Email</button>
        {% if error %}
          <div class="error">{{ error }}</div>
        {% endif %}
      </form>
    </aside>

    <section class="right-panel">
      <div class="hero-box">
        <h1>Welcome to<br>Event Recommendation System</h1>
        <p>
          Find workshops, hackathons, seminars and campus events
          that match your interests.
        </p>
      </div>
    </section>
  </div>
<script>
  function handleCredentialResponse(response) {
    fetch("/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        token: response.credential
      })
    })
    .then(res => res.json())
    .then(data => {

      if(data.success){
          window.location.href = "/"+data.uid+"/search";
      } else {
        alert("Google login failed");
      }
    })
    .catch(err => console.error(err));
  }
</script>
</body>


</html>