<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Recommendation</title>
    <link rel="preload" as="image" href="/static/pencil_yellow.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="page">
    <aside class="form-container">
      <form class="user_form" action="/" method="POST">
        <h3>Welcome !</h3>

        <input type="text" name="username" placeholder="Your name" required>
        <input type="email" name="email" placeholder="Your email" required>

        <button type="submit">Continue</button>
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <div id="g_id_onload"
            data-client_id="738347502101-dspntc69nqd1s1hevolbpgivlc5bttso.apps.googleusercontent.com"
            data-callback="handleCredentialResponse">
        </div>

        <div class="g_id_signin"></div>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
      </form>
    </aside>

    <section class="right-panel">
      <div class="hero-box">
        <h1>Welcome to<br>Event Recommendation System</h1>
        <p>
          Discover events tailored to your interests — college activities,
          workshops, hackathons, seminars and more.
        </p>
      </div>
    </section>
  </div>
<script>
  function handleCredentialResponse(response) {
    fetch("/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        token: response.credential
      })
    })
    .then(res => res.json())
    .then(data => {

      if(data.success){
        document.querySelector('input[name="username"]').value = data.name;
        document.querySelector('input[name="email"]').value = data.email;

      } else {
        alert("Google login failed");
      }
    })
    .catch(err => console.error(err));
  }
</script>
</body>


</html>